.spacer {
  flex: 1 1 auto;
}

main {
  min-height: calc(100vh - 64px);
}

.active-link {
  background: rgba(255, 255, 255, 0.15);
}

a.mat-button {
  display: flex;
  align-items: center;
  gap: 4px;
}
