<nav class="tui-nav">
  <span class="tui-datetime" data-format="h:m:s a"></span>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="tui-active"><span class="red-168-text">D</span>ashboard</a></li>
    <li><a routerLink="/transactions" routerLinkActive="tui-active"><span class="red-168-text">T</span>ransacciones</a></li>
    <li><a routerLink="/upload" routerLinkActive="tui-active"><span class="red-168-text">S</span>ubir archivos</a></li>
    <li><a routerLink="/credit-cards" routerLinkActive="tui-active">Tar<span class="red-168-text">j</span>etas</a></li>
  </ul>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<div class="tui-statusbar absolute">
  <ul>
    <li><span class="white-255-text">Mis Finanzas Personales</span></li>
  </ul>
</div>
