<nav class="tui-nav">
  <ul>
    <li><span class="cyan-255-text"><b>&#9776; Mis Finanzas</b></span></li>
    <li><a routerLink="/dashboard" routerLinkActive="tui-active">Dashboard</a></li>
    <li><a routerLink="/transactions" routerLinkActive="tui-active">Transacciones</a></li>
    <li><a routerLink="/upload" routerLinkActive="tui-active">Subir archivos</a></li>
    <li><a routerLink="/credit-cards" routerLinkActive="tui-active">Tarjetas</a></li>
  </ul>
  <span class="tui-datetime" data-format="h:m:s a"></span>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<div class="tui-statusbar absolute">
  <ul>
    <li><span class="white-255-text">Mis Finanzas Personales</span></li>
  </ul>
</div>
